img {
    width: 30%;
   /* 사진 사이에 공간을 만들어줌 margin */
    /* margin: 1.66666%; */
    margin: calc(10%/6)
} 

nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
}

/* 30 + 30+ 30 이미지 한장당 30% * 3 

남은 공간 10%  */